# Eclipse
.classpath
.project
.settings/

# Maven
/log/
/target/

# R
*.RData
*.Rhistory
.Rproj.user/

# LabVIEW
*.aliases

# Qt
.qmake.stash
Makefile
Makefile.debug
Makefile.Release
*.pro.user

# CMake
CMakeSettings.json

# Visual Studio
.vs/
out/

# Visual Studio Code
.vscode/

# Excel
~$*.xlsx

# Other
[Dd]ebug
[Rr]elease
/bin/

# Build
/build/
